<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 style="text-align: center; margin-bottom: 12px; color: lightslategray;">О нас</h1>
        <p>“Голос Студента” - это <u>учебный проект</u>, представляющей собой электронный блог для размещения статей. 
          Данный сервис позволяет студентам разных университетов размещать статьи научного характера. </p>
        <p>
          Студентам для размещения статьи в данном блоге необходимо зарегистрироваться, 
          указав электронную почту, имя и пароль. Далее студентам необходимо верифицировать свою электронную почту. 
          Для этого необходимо проверить свою почту, на которую будет отправлена ссылка для верификации почты студентов. 
          После верификации электронной почты студентам необходимо перейти на страницу “Войти”. 
          На данной странице необходимо заполнить форму, указав электронную почту и пароль, и нажав на кнопку войти. 
          После входа в систему у студентов появляются права на размещения своих статей в данном блоге. 
          Будучи авторизованными пользователями, студенты могут размещать свои статьи в данном блоге. 
          Для этого студентам необходимо перейти на главную страницу и нажат на кнопку “Опубликовать”. 
          После нажатия на данную кнопку студент будет перенаправлен на страницу формы для введения данных о публикуемой статье. 
          После введения соответствующих данных необходимо нажать на кнопку отправить. 
          Таким образом будет опубликована любая статья. 
          Опубликованную статью можно найти в писке опубликованных статей на странице “Статьи”. 
        </p>
      </div>
    </div>
  </div>
  