<!-- Main Content -->
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <form novalidate>
        <div class="control-group">
          <div class="form-group">
            <label>Token</label>
            <input type="text" [(ngModel)]="updatePassword.token" [disabled]="processing" name="title" class="form-control"
              placeholder="Name">
          </div>
        </div>
        <div class="control-group">
          <div class="form-group">
            <label>Password</label>
            <input type="text" [(ngModel)]="updatePassword.password" [disabled]="processing" name="password" class="form-control"
              placeholder="Password">
          </div>
        </div>
        <div class="control-group">
            <div class="form-group">
              <label>Password Confirm</label>
              <input type="text" [(ngModel)]="updatePassword.password_confirmation" [disabled]="processing" name="confirmpassword" class="form-control"
              placeholder="Confirm password">
            </div>
          </div>
        <br>
        <app-loading *ngIf="processing && (!success && !failure)"></app-loading>
        <div class="alert alert-success pointer" *ngIf="success" role="alert">
          Data has been successfully submited!
        </div>
        <div class="alert alert-danger pointer" *ngIf="failure" role="alert">
          An unexpected error occured while submitting your entry. Please recheck submitted data or try it later.
        </div>
        <div class="form-group text-center mx-auto">
          <button class="btn btn-secondary" (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
  